{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
  <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>



  <form method="POST" class="form" action="">
    {% csrf_token %}
    <div class="container-fluid text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1>Cadastro de Exemplar</h1>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label>Título do Livro</label>
              {{ form.titulo_livro|add_class:"form-control" }}
            </div>
            <div class="col-sm-6">
              <label>Subtitulo do Livro:</label>
              {{ form.subtitulo_livro|add_class:"form-control" }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
              <label>Avaliação do Livro:</label>
              {{ form.avaliacao_livro|add_class:"form-control" }}
            </div>
            <div class="col-sm-4">
              <label>ISBN do Livro:</label>
              {{ form.isbn_livro| add_class:"form-control" }}
            </div>
            <div class="col-sm-4">
              <label>Data de publicação</label>
              {{ form.publicacao_livro|add_class:"form-control data"  }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label>Editora do Livro:</label>
              {{ form.editora_cod_editora|add_class:"selectpicker form-control"|attr:"data-live-search='true'" }}
            </div>
            <div class="col-sm-6">
              <label>Categoria do Livro:</label>
              {{form.categoria_cod_categoria|add_class:"selectpicker form-control"|attr:"data-live-search='true'" }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
              <button type="submit" class="btn-outline-primary btn float-right">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}