{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <form method="POST" class="post-form" action="/atualizar/{{ livro.id }}">
        {% csrf_token %}
        <div class="container-fluid text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Edição de Exemplar</h1>
                    </div>
                </div>
            </div>
        </div>
        
        <br>
        <div class="container">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Título do Livro</label>
                            <input type="text" name="titulo_livro" id="id_titulo_livro" value="{{ livro.titulo_livro}}" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label>Subtitulo do Livro:</label>
                            <input type="text" name="subtitulo_livro" id="id_subtitulo_livro" value="{{ livro.subtitulo_livro}}" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Avaliação do Livro:</label>
                            <input type="text" name="avaliacao_livro" id="id_avaliacao_livro" value="{{ livro.avaliacao_livro}}" class="form-control" readonly>
                        </div>
                        <div class="col-sm-4">
                            <label>ISBN do Livro:</label>
                            {{ form.isbn_livro| add_class:"form-control" }}
                            <input type="text" name="isbn_livro" id="id_isbn_livro" value="{{ livro.isbn_livro}}" class="form-control" readonly>
                        </div>
                        <div class="col-sm-4">
                            <label>Data de publicação</label>
                            <input type="text" name="publicacao_livro" id="id_publicacao_livro" value="{{ livro.publicacao_livro | date:'d/m/Y'}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn-outline-primary btn float-right">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}