<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Biblioteca Mais - Livros</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/css.css' %}"/>
  </head>

  <body>
    <form method="POST" class="post-form" action="/livro">

      {% csrf_token %}

      <div class="container">
        <br>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label"></label>
          <div class="col-sm-4">
            <h3>Enter Details</h3>
          </div>
        </div>

       <!-- <div class="form-group row">
          <label class="col-sm-2 col-form-label">Id do Livro Id:</label>
          <div class="col-sm-4">
            {{ form.id }}
          </div>
        </div>
      -->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Titulo do Livro:</label>
          <div class="col-sm-4">
            {{ form.titulo_livro }}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Subtitulo do Livro:</label>
          <div class="col-sm-4">
            {{ form.subtitulo_livro }}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Sinopse do Livro:</label>
          <div class="col-sm-4">
            {{ form.sinopse_livro }}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Avaliação do Livro:</label>
          <div class="col-sm-4">
            {{ form.avaliacao_livro }}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">ISBN do Livro:</label>
          <div class="col-sm-4">
            {{ form.isbn_livro }}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Publicação do Livro:</label>
          <div class="col-sm-4">
            {{ form.publicacao_livro }}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Editora do Livro:</label>
          <div class="col-sm-4">
            {% for livro in livros %}  
              {{ e.nome_editora }}
            {% endfor %}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Categoria do Livro:</label>
          <div class="col-sm-4">
            {{ form.categoria_cod_categoria }}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-1 col-form-label"></label>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>

      </div>
    </form>
  </body>
</html>