{% block menu %}
	<div class="col-sm-3">
		<div class="container-fluid">
			<p>Navegue por aqui!</p>
			<hr>
			<a class="btn btn-outline-dark btn-block m-1" href="/listar_livro/" class="btn btn-primary">Lista de Livros</a>
			<a class="btn btn-outline-dark btn-block m-1" href="/criar_livro/" class="btn btn-primary">Criar Novo Livro</a>
			<a class="btn btn-outline-dark btn-block m-1" href="/listar_autor/" class="btn btn-primary">Lista de Autores</a>
			<a class="btn btn-outline-dark btn-block m-1" href="/criar_autor/" class="btn btn-primary">Criar Novo Autor</a>

		</div>
	</div>
{% endblock %}