    <!DOCTYPE html>  
    <html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <title>Biblioteca Mais - Livros</title>  
         {% load staticfiles %}  
        <link rel="stylesheet" href="{% static 'css/css.css' %}"/>  
    </head>  
    <body>  
    <table class="table table-striped table-bordered table-sm">  
        <thead class="thead-dark">  
        <tr>  
            <th>Livro ID</th>  
            <th>Título do Livro</th>  
            <th>Subtítulo do Livro</th>  
            <th>Sinopse do Livro</th>  
            <th>ISBN do Livro</th> 
            <th>Publicação do Livro</th> 
            <th>Editora do Livro</th>
            <th>Categoria do Livro</th>  
            <th>Avaliação do Livro</th>
            <th>Ações</th>  
        </tr>  
        </thead>  
        <tbody>  
    {% for listalivros in livros %}  
        <tr>  
            <td>{{ listalivros.id }}</td>  
            <td>{{ listalivros.titulo_livro }}</td>  
            <td>{{ listalivros.subtitulo_livro }}</td>  
            <td>{{ listalivros.sinopse_livro }}</td>  
            <td>{{ listalivros.isbn_livro }}</td>  
            <td>{{ listalivros.publicacao_livro }}</td>
            <td>{{ listalivros.editora_cod_editora.nome_editora }}</td>
            <td>{{ listalivros.categoria_cod_categoria.nome_categoria }}</td>
            <td>{{ listalivros.avaliacao_livro }}</td> 
            <td>  
                <a class="btn btn-warning" href="/editar/{{ listalivros.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
                <a class="btn btn-danger" href="/delete/{{ listalivros.id }}">Delete</a>  
            </td>  
        </tr>  
    {% endfor %}  
        </tbody>  
    </table>  
    <br>  
    <br>  
    <center><a class="btn btn-dark" href="/criar" class="btn btn-primary">Add New Record</a></center>  
    </body>  
    </html>  